--
-- PostgreSQL database dump
--

\restrict mlA1bCYy37aoSVpLvwHHURBgUqhrfsSSC8DxriwR8cFMguUgw7u0WUwnHeJvn2L

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: RentalBookingStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RentalBookingStatus" AS ENUM (
    'PENDING_CONFIRMATION',
    'CONFIRMED',
    'CANCELLED'
);


ALTER TYPE public."RentalBookingStatus" OWNER TO postgres;

--
-- Name: RentalSlotStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."RentalSlotStatus" AS ENUM (
    'AVAILABLE',
    'BOOKED',
    'UNAVAILABLE'
);


ALTER TYPE public."RentalSlotStatus" OWNER TO postgres;

--
-- Name: StaffRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StaffRole" AS ENUM (
    'MANAGER',
    'ADMIN'
);


ALTER TYPE public."StaffRole" OWNER TO postgres;

--
-- Name: TeamApplicationStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TeamApplicationStatus" AS ENUM (
    'PENDING',
    'IN_REVIEW',
    'ACCEPTED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."TeamApplicationStatus" OWNER TO postgres;

--
-- Name: TeamMemberStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TeamMemberStatus" AS ENUM (
    'ACTIVE',
    'INJURED',
    'SUSPENDED'
);


ALTER TYPE public."TeamMemberStatus" OWNER TO postgres;

--
-- Name: TeamRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."TeamRole" AS ENUM (
    'PLAYER',
    'COACH',
    'CAPTAIN',
    'PARENT'
);


ALTER TYPE public."TeamRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Booking" (
    id integer NOT NULL,
    "userId" integer,
    "sessionId" integer NOT NULL,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "participantId" integer NOT NULL
);


ALTER TABLE public."Booking" OWNER TO postgres;

--
-- Name: Booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Booking_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Booking_id_seq" OWNER TO postgres;

--
-- Name: Booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Booking_id_seq" OWNED BY public."Booking".id;


--
-- Name: City; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."City" (
    id integer NOT NULL,
    name text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."City" OWNER TO postgres;

--
-- Name: City_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."City_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."City_id_seq" OWNER TO postgres;

--
-- Name: City_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."City_id_seq" OWNED BY public."City".id;


--
-- Name: RentalBooking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RentalBooking" (
    id integer NOT NULL,
    "slotId" integer NOT NULL,
    "userId" integer NOT NULL,
    "participantId" integer,
    status public."RentalBookingStatus" DEFAULT 'PENDING_CONFIRMATION'::public."RentalBookingStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "managerNote" text,
    "noteFromUser" text
);


ALTER TABLE public."RentalBooking" OWNER TO postgres;

--
-- Name: RentalBooking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RentalBooking_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."RentalBooking_id_seq" OWNER TO postgres;

--
-- Name: RentalBooking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RentalBooking_id_seq" OWNED BY public."RentalBooking".id;


--
-- Name: RentalFacility; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RentalFacility" (
    id integer NOT NULL,
    name text NOT NULL,
    "cityId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RentalFacility" OWNER TO postgres;

--
-- Name: RentalFacility_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RentalFacility_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."RentalFacility_id_seq" OWNER TO postgres;

--
-- Name: RentalFacility_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RentalFacility_id_seq" OWNED BY public."RentalFacility".id;


--
-- Name: RentalResource; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RentalResource" (
    id integer NOT NULL,
    "facilityId" integer NOT NULL,
    name text NOT NULL,
    "resourceType" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RentalResource" OWNER TO postgres;

--
-- Name: RentalResource_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RentalResource_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."RentalResource_id_seq" OWNER TO postgres;

--
-- Name: RentalResource_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RentalResource_id_seq" OWNED BY public."RentalResource".id;


--
-- Name: RentalSlot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RentalSlot" (
    id integer NOT NULL,
    "resourceId" integer NOT NULL,
    "startsAt" timestamp(3) without time zone NOT NULL,
    "endsAt" timestamp(3) without time zone NOT NULL,
    status public."RentalSlotStatus" DEFAULT 'AVAILABLE'::public."RentalSlotStatus" NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RentalSlot" OWNER TO postgres;

--
-- Name: RentalSlot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RentalSlot_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."RentalSlot_id_seq" OWNER TO postgres;

--
-- Name: RentalSlot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RentalSlot_id_seq" OWNED BY public."RentalSlot".id;


--
-- Name: SchoolTraining; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SchoolTraining" (
    name text NOT NULL,
    description text,
    location text NOT NULL,
    "cityId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL,
    "startTime" timestamp(3) without time zone NOT NULL,
    "trainerId" integer,
    "trainingId" integer NOT NULL,
    "trainingType" text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    capacity integer DEFAULT 20 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."SchoolTraining" OWNER TO postgres;

--
-- Name: SchoolTraining_trainingId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."SchoolTraining_trainingId_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."SchoolTraining_trainingId_seq" OWNER TO postgres;

--
-- Name: SchoolTraining_trainingId_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."SchoolTraining_trainingId_seq" OWNED BY public."SchoolTraining"."trainingId";


--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id integer NOT NULL,
    title text NOT NULL,
    description text,
    "startTime" timestamp(3) without time zone NOT NULL,
    "endTime" timestamp(3) without time zone NOT NULL,
    "cityId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: Session_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Session_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Session_id_seq" OWNER TO postgres;

--
-- Name: Session_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Session_id_seq" OWNED BY public."Session".id;


--
-- Name: Team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Team" (
    id integer NOT NULL,
    name text NOT NULL,
    "cityId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    description text,
    slug text
);


ALTER TABLE public."Team" OWNER TO postgres;

--
-- Name: TeamApplication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeamApplication" (
    id integer NOT NULL,
    "participantId" integer NOT NULL,
    "teamId" integer NOT NULL,
    status public."TeamApplicationStatus" DEFAULT 'PENDING'::public."TeamApplicationStatus" NOT NULL,
    "commentFromApplicant" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "internalNote" text,
    "reviewedById" integer
);


ALTER TABLE public."TeamApplication" OWNER TO postgres;

--
-- Name: TeamApplication_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."TeamApplication_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."TeamApplication_id_seq" OWNER TO postgres;

--
-- Name: TeamApplication_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."TeamApplication_id_seq" OWNED BY public."TeamApplication".id;


--
-- Name: TeamMember; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeamMember" (
    id integer NOT NULL,
    "userId" integer,
    "teamId" integer NOT NULL,
    role public."TeamRole" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status public."TeamMemberStatus" NOT NULL,
    "jerseyNumber" integer,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "participantId" integer,
    "positionCode" text
);


ALTER TABLE public."TeamMember" OWNER TO postgres;

--
-- Name: TeamMember_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."TeamMember_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."TeamMember_id_seq" OWNER TO postgres;

--
-- Name: TeamMember_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."TeamMember_id_seq" OWNED BY public."TeamMember".id;


--
-- Name: Team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Team_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Team_id_seq" OWNER TO postgres;

--
-- Name: Team_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Team_id_seq" OWNED BY public."Team".id;


--
-- Name: TrainingBooking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TrainingBooking" (
    id integer NOT NULL,
    "participantId" integer NOT NULL,
    "trainingId" integer NOT NULL,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TrainingBooking" OWNER TO postgres;

--
-- Name: TrainingBooking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."TrainingBooking_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."TrainingBooking_id_seq" OWNER TO postgres;

--
-- Name: TrainingBooking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."TrainingBooking_id_seq" OWNED BY public."TrainingBooking".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    "telegramId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    email text,
    "passwordHash" text,
    phone text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "staffRole" public."StaffRole"
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserProfile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserProfile" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "profileType" text NOT NULL,
    "firstName" text,
    "lastName" text,
    "birthDate" timestamp(3) without time zone,
    "parentId" integer,
    "cityId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserProfile" OWNER TO postgres;

--
-- Name: UserProfile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."UserProfile_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."UserProfile_id_seq" OWNER TO postgres;

--
-- Name: UserProfile_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."UserProfile_id_seq" OWNED BY public."UserProfile".id;


--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Booking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking" ALTER COLUMN id SET DEFAULT nextval('public."Booking_id_seq"'::regclass);


--
-- Name: City id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."City" ALTER COLUMN id SET DEFAULT nextval('public."City_id_seq"'::regclass);


--
-- Name: RentalBooking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalBooking" ALTER COLUMN id SET DEFAULT nextval('public."RentalBooking_id_seq"'::regclass);


--
-- Name: RentalFacility id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalFacility" ALTER COLUMN id SET DEFAULT nextval('public."RentalFacility_id_seq"'::regclass);


--
-- Name: RentalResource id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalResource" ALTER COLUMN id SET DEFAULT nextval('public."RentalResource_id_seq"'::regclass);


--
-- Name: RentalSlot id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalSlot" ALTER COLUMN id SET DEFAULT nextval('public."RentalSlot_id_seq"'::regclass);


--
-- Name: SchoolTraining trainingId; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchoolTraining" ALTER COLUMN "trainingId" SET DEFAULT nextval('public."SchoolTraining_trainingId_seq"'::regclass);


--
-- Name: Session id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session" ALTER COLUMN id SET DEFAULT nextval('public."Session_id_seq"'::regclass);


--
-- Name: Team id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team" ALTER COLUMN id SET DEFAULT nextval('public."Team_id_seq"'::regclass);


--
-- Name: TeamApplication id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplication" ALTER COLUMN id SET DEFAULT nextval('public."TeamApplication_id_seq"'::regclass);


--
-- Name: TeamMember id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMember" ALTER COLUMN id SET DEFAULT nextval('public."TeamMember_id_seq"'::regclass);


--
-- Name: TrainingBooking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainingBooking" ALTER COLUMN id SET DEFAULT nextval('public."TrainingBooking_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: UserProfile id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfile" ALTER COLUMN id SET DEFAULT nextval('public."UserProfile_id_seq"'::regclass);


--
-- Data for Name: Booking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Booking" (id, "userId", "sessionId", status, "createdAt", "updatedAt", "participantId") FROM stdin;
\.


--
-- Data for Name: City; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."City" (id, name, "createdAt", "updatedAt") FROM stdin;
1	╨Ь╨╛╤Б╨║╨▓╨░	2026-04-15 15:35:45.344	2026-04-15 15:35:45.344
2	╨Э╨╕╨╢╨╜╨╕╨╣ ╨Э╨╛╨▓╨│╨╛╤А╨╛╨┤	2026-04-15 15:35:45.377	2026-04-15 15:35:45.377
\.


--
-- Data for Name: RentalBooking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RentalBooking" (id, "slotId", "userId", "participantId", status, "createdAt", "updatedAt", "managerNote", "noteFromUser") FROM stdin;
2	1	4	4	PENDING_CONFIRMATION	2026-04-15 16:18:33.267	2026-04-15 16:18:33.267	\N	\N
3	2	1	5	PENDING_CONFIRMATION	2026-04-15 19:49:19.808	2026-04-15 19:49:19.808	\N	\N
1	3	4	4	PENDING_CONFIRMATION	2026-04-15 15:35:45.581	2026-04-15 23:11:19.121	??????? ????? ??? ?????? ???????? (dev-seed).	╨Э╤Г╨╢╨╜╨░ ╤В╨╡╤Б╤В╨╛╨▓╨░╤П ╨▒╤А╨╛╨╜╤М ╨┤╨╗╤П ╨┐╤А╨╛╨▓╨╡╤А╨║╨╕ rental flow (dev-seed).
\.


--
-- Data for Name: RentalFacility; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RentalFacility" (id, name, "cityId", "createdAt", "updatedAt") FROM stdin;
1	╨Ы╨╡╨┤╨╛╨▓╨░╤П ╨░╤А╨╡╨╜╨░ ╨Ь╨╛╤Б╨║╨▓╨░ (dev)	1	2026-04-15 15:35:45.538	2026-04-15 15:51:50.796
\.


--
-- Data for Name: RentalResource; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RentalResource" (id, "facilityId", name, "resourceType", "createdAt", "updatedAt") FROM stdin;
1	1	╨Ы╤С╨┤ A (dev)	ice-rink	2026-04-15 15:35:45.547	2026-04-15 15:51:50.814
\.


--
-- Data for Name: RentalSlot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RentalSlot" (id, "resourceId", "startsAt", "endsAt", status, "isPublic", "createdAt", "updatedAt") FROM stdin;
3	1	2030-01-19 14:00:00	2030-01-19 15:00:00	BOOKED	t	2026-04-15 15:35:45.572	2026-04-15 15:51:50.848
1	1	2030-01-17 10:00:00	2030-01-17 11:00:00	BOOKED	t	2026-04-15 15:35:45.557	2026-04-15 16:18:33.277
2	1	2030-01-18 12:00:00	2030-01-18 13:00:00	BOOKED	t	2026-04-15 15:35:45.565	2026-04-15 19:49:19.816
\.


--
-- Data for Name: SchoolTraining; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Session" (id, title, description, "startTime", "endTime", "cityId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Team" (id, name, "cityId", "createdAt", "updatedAt", description, slug) FROM stdin;
1	╨Ъ╨╛╨╝╨░╨╜╨┤╨░ ╨║╨╗╤Г╨▒╨░ ╨Ь╨╛╤Б╨║╨▓╨░ (dev)	1	2026-04-15 15:35:45.461	2026-04-15 15:51:50.692	╨Ь╨╕╨╜╨╕╨╝╨░╨╗╤М╨╜╨░╤П dev-╨║╨╛╨╝╨░╨╜╨┤╨░ ╨┤╨╗╤П ╨┐╤А╨╛╨▓╨╡╤А╨║╨╕ user/staff flows (dev-seed).	team-moscow-dev-seed
2	╨Ъ╨╛╨╝╨░╨╜╨┤╨░ ╨║╨╗╤Г╨▒╨░ ╨Э╨╕╨╢╨╜╨╕╨╣ ╨Э╨╛╨▓╨│╨╛╤А╨╛╨┤ (dev)	2	2026-04-15 15:35:45.47	2026-04-15 15:51:50.701	╨Ь╨╕╨╜╨╕╨╝╨░╨╗╤М╨╜╨░╤П dev-╨║╨╛╨╝╨░╨╜╨┤╨░ ╨┤╨╗╤П ╨┐╤А╨╛╨▓╨╡╤А╨║╨╕ user/staff flows (dev-seed).	team-nizhny-dev-seed
\.


--
-- Data for Name: TeamApplication; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TeamApplication" (id, "participantId", "teamId", status, "commentFromApplicant", "createdAt", "updatedAt", "internalNote", "reviewedById") FROM stdin;
1	4	2	PENDING	╨е╨╛╤З╤Г ╨┐╨╛╨┐╨░╤Б╤В╤М ╨╜╨░ ╨┐╤А╨╛╤Б╨╝╨╛╤В╤А ╨▓ ╨║╨╛╨╝╨░╨╜╨┤╤Г ╨Э╨╕╨╢╨╜╨╡╨│╨╛ ╨Э╨╛╨▓╨│╨╛╤А╨╛╨┤╨░ (dev-seed).	2026-04-15 15:35:45.527	2026-04-15 15:51:50.779	\N	\N
3	5	2	ACCEPTED	\N	2026-04-15 19:49:37.051	2026-04-15 21:26:02.383	\N	1
2	5	1	ACCEPTED	\N	2026-04-15 19:49:31.761	2026-04-15 21:27:19.745	\N	1
\.


--
-- Data for Name: TeamMember; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TeamMember" (id, "userId", "teamId", role, "createdAt", "updatedAt", status, "jerseyNumber", "joinedAt", "participantId", "positionCode") FROM stdin;
1	3	1	COACH	2026-04-15 15:35:45.475	2026-04-15 15:51:50.709	ACTIVE	\N	2026-04-15 15:35:45.475	\N	HC
2	\N	1	PLAYER	2026-04-15 15:35:45.484	2026-04-16 08:37:05.119	ACTIVE	18	2026-04-15 15:35:45.484	4	FWD
9	\N	1	PLAYER	2026-04-16 08:37:39.843	2026-04-16 08:37:53.623	ACTIVE	99	2026-04-16 00:00:00	3	╨│╨╛╨│╨░
\.


--
-- Data for Name: TrainingBooking; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TrainingBooking" (id, "participantId", "trainingId", status, "createdAt", "updatedAt") FROM stdin;
1	4	1	booked	2026-04-15 15:35:45.515	2026-04-15 15:51:50.765
2	5	2	booked	2026-04-15 19:48:56.532	2026-04-15 19:48:56.532
3	5	5	booked	2026-04-15 22:21:52.639	2026-04-15 22:21:52.639
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, "telegramId", "createdAt", email, "passwordHash", phone, "updatedAt", "staffRole") FROM stdin;
1	100000001	2026-04-15 14:23:23.5	\N	\N	\N	2026-04-15 14:35:03.28	ADMIN
2	gorilla_admin_dev	2026-04-15 15:35:45.387	admin.dev@gorilla.local	\N	\N	2026-04-15 15:51:50.598	ADMIN
3	gorilla_manager_dev	2026-04-15 15:35:45.401	manager.dev@gorilla.local	\N	\N	2026-04-15 15:51:50.615	MANAGER
4	gorilla_user_dev	2026-04-15 15:35:45.407	user.dev@gorilla.local	\N	\N	2026-04-15 15:51:50.623	\N
\.


--
-- Data for Name: UserProfile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Booking_id_seq"', 1, false);


--
-- Name: City_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."City_id_seq"', 2, true);


--
-- Name: RentalBooking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RentalBooking_id_seq"', 3, true);


--
-- Name: RentalFacility_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RentalFacility_id_seq"', 1, true);


--
-- Name: RentalResource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RentalResource_id_seq"', 1, true);


--
-- Name: RentalSlot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RentalSlot_id_seq"', 8, true);


--
-- Name: SchoolTraining_trainingId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SchoolTraining_trainingId_seq"', 5, true);


--
-- Name: Session_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Session_id_seq"', 1, false);


--
-- Name: TeamApplication_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."TeamApplication_id_seq"', 3, true);


--
-- Name: TeamMember_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."TeamMember_id_seq"', 9, true);


--
-- Name: Team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Team_id_seq"', 8, true);


--
-- Name: TrainingBooking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."TrainingBooking_id_seq"', 3, true);


--
-- Name: UserProfile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UserProfile_id_seq"', 5, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 13, true);


--
-- Name: Booking Booking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_pkey" PRIMARY KEY (id);


--
-- Name: City City_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."City"
    ADD CONSTRAINT "City_pkey" PRIMARY KEY (id);


--
-- Name: RentalBooking RentalBooking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalBooking"
    ADD CONSTRAINT "RentalBooking_pkey" PRIMARY KEY (id);


--
-- Name: RentalFacility RentalFacility_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalFacility"
    ADD CONSTRAINT "RentalFacility_pkey" PRIMARY KEY (id);


--
-- Name: RentalResource RentalResource_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalResource"
    ADD CONSTRAINT "RentalResource_pkey" PRIMARY KEY (id);


--
-- Name: RentalSlot RentalSlot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalSlot"
    ADD CONSTRAINT "RentalSlot_pkey" PRIMARY KEY (id);


--
-- Name: SchoolTraining SchoolTraining_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchoolTraining"
    ADD CONSTRAINT "SchoolTraining_pkey" PRIMARY KEY ("trainingId");


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: TeamApplication TeamApplication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplication"
    ADD CONSTRAINT "TeamApplication_pkey" PRIMARY KEY (id);


--
-- Name: TeamMember TeamMember_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMember"
    ADD CONSTRAINT "TeamMember_pkey" PRIMARY KEY (id);


--
-- Name: Team Team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_pkey" PRIMARY KEY (id);


--
-- Name: TrainingBooking TrainingBooking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainingBooking"
    ADD CONSTRAINT "TrainingBooking_pkey" PRIMARY KEY (id);


--
-- Name: UserProfile UserProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfile"
    ADD CONSTRAINT "UserProfile_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Booking_participantId_sessionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Booking_participantId_sessionId_key" ON public."Booking" USING btree ("participantId", "sessionId");


--
-- Name: City_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "City_name_key" ON public."City" USING btree (name);


--
-- Name: RentalBooking_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalBooking_participantId_idx" ON public."RentalBooking" USING btree ("participantId");


--
-- Name: RentalBooking_slotId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalBooking_slotId_idx" ON public."RentalBooking" USING btree ("slotId");


--
-- Name: RentalBooking_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalBooking_status_idx" ON public."RentalBooking" USING btree (status);


--
-- Name: RentalBooking_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalBooking_userId_idx" ON public."RentalBooking" USING btree ("userId");


--
-- Name: RentalFacility_cityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalFacility_cityId_idx" ON public."RentalFacility" USING btree ("cityId");


--
-- Name: RentalResource_facilityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalResource_facilityId_idx" ON public."RentalResource" USING btree ("facilityId");


--
-- Name: RentalSlot_endsAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalSlot_endsAt_idx" ON public."RentalSlot" USING btree ("endsAt");


--
-- Name: RentalSlot_isPublic_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalSlot_isPublic_idx" ON public."RentalSlot" USING btree ("isPublic");


--
-- Name: RentalSlot_resourceId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalSlot_resourceId_idx" ON public."RentalSlot" USING btree ("resourceId");


--
-- Name: RentalSlot_startsAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalSlot_startsAt_idx" ON public."RentalSlot" USING btree ("startsAt");


--
-- Name: RentalSlot_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "RentalSlot_status_idx" ON public."RentalSlot" USING btree (status);


--
-- Name: SchoolTraining_cityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SchoolTraining_cityId_idx" ON public."SchoolTraining" USING btree ("cityId");


--
-- Name: SchoolTraining_endTime_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SchoolTraining_endTime_idx" ON public."SchoolTraining" USING btree ("endTime");


--
-- Name: SchoolTraining_startTime_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SchoolTraining_startTime_idx" ON public."SchoolTraining" USING btree ("startTime");


--
-- Name: TeamApplication_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeamApplication_participantId_idx" ON public."TeamApplication" USING btree ("participantId");


--
-- Name: TeamApplication_reviewedById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeamApplication_reviewedById_idx" ON public."TeamApplication" USING btree ("reviewedById");


--
-- Name: TeamApplication_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeamApplication_status_idx" ON public."TeamApplication" USING btree (status);


--
-- Name: TeamApplication_teamId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeamApplication_teamId_idx" ON public."TeamApplication" USING btree ("teamId");


--
-- Name: TeamMember_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TeamMember_participantId_idx" ON public."TeamMember" USING btree ("participantId");


--
-- Name: TeamMember_participantId_teamId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TeamMember_participantId_teamId_key" ON public."TeamMember" USING btree ("participantId", "teamId");


--
-- Name: TeamMember_userId_teamId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TeamMember_userId_teamId_key" ON public."TeamMember" USING btree ("userId", "teamId");


--
-- Name: Team_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Team_slug_key" ON public."Team" USING btree (slug);


--
-- Name: TrainingBooking_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainingBooking_participantId_idx" ON public."TrainingBooking" USING btree ("participantId");


--
-- Name: TrainingBooking_participantId_trainingId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "TrainingBooking_participantId_trainingId_key" ON public."TrainingBooking" USING btree ("participantId", "trainingId");


--
-- Name: TrainingBooking_trainingId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainingBooking_trainingId_idx" ON public."TrainingBooking" USING btree ("trainingId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phone_key" ON public."User" USING btree (phone);


--
-- Name: User_telegramId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_telegramId_key" ON public."User" USING btree ("telegramId");


--
-- Name: Booking Booking_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."UserProfile"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Booking Booking_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."Session"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Booking Booking_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RentalBooking RentalBooking_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalBooking"
    ADD CONSTRAINT "RentalBooking_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."UserProfile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RentalBooking RentalBooking_slotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalBooking"
    ADD CONSTRAINT "RentalBooking_slotId_fkey" FOREIGN KEY ("slotId") REFERENCES public."RentalSlot"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RentalBooking RentalBooking_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalBooking"
    ADD CONSTRAINT "RentalBooking_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RentalFacility RentalFacility_cityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalFacility"
    ADD CONSTRAINT "RentalFacility_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES public."City"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RentalResource RentalResource_facilityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalResource"
    ADD CONSTRAINT "RentalResource_facilityId_fkey" FOREIGN KEY ("facilityId") REFERENCES public."RentalFacility"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RentalSlot RentalSlot_resourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RentalSlot"
    ADD CONSTRAINT "RentalSlot_resourceId_fkey" FOREIGN KEY ("resourceId") REFERENCES public."RentalResource"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolTraining SchoolTraining_cityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchoolTraining"
    ADD CONSTRAINT "SchoolTraining_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES public."City"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SchoolTraining SchoolTraining_trainerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SchoolTraining"
    ADD CONSTRAINT "SchoolTraining_trainerId_fkey" FOREIGN KEY ("trainerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Session Session_cityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES public."City"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TeamApplication TeamApplication_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplication"
    ADD CONSTRAINT "TeamApplication_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."UserProfile"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TeamApplication TeamApplication_reviewedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplication"
    ADD CONSTRAINT "TeamApplication_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TeamApplication TeamApplication_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplication"
    ADD CONSTRAINT "TeamApplication_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TeamMember TeamMember_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMember"
    ADD CONSTRAINT "TeamMember_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."UserProfile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TeamMember TeamMember_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMember"
    ADD CONSTRAINT "TeamMember_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TeamMember TeamMember_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamMember"
    ADD CONSTRAINT "TeamMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Team Team_cityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES public."City"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TrainingBooking TrainingBooking_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainingBooking"
    ADD CONSTRAINT "TrainingBooking_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."UserProfile"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TrainingBooking TrainingBooking_trainingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainingBooking"
    ADD CONSTRAINT "TrainingBooking_trainingId_fkey" FOREIGN KEY ("trainingId") REFERENCES public."SchoolTraining"("trainingId") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserProfile UserProfile_cityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfile"
    ADD CONSTRAINT "UserProfile_cityId_fkey" FOREIGN KEY ("cityId") REFERENCES public."City"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserProfile UserProfile_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfile"
    ADD CONSTRAINT "UserProfile_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."UserProfile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserProfile UserProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserProfile"
    ADD CONSTRAINT "UserProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict mlA1bCYy37aoSVpLvwHHURBgUqhrfsSSC8DxriwR8cFMguUgw7u0WUwnHeJvn2L

